<!-- Carousel summary -->
<div>
    <span>
        <h1 class="text-success">{{options[optionShowed]}}</h1>
        <h4 class="text-dark">{{optionLabels[optionShowed]}}</h4>
    </span>
    <span *ngFor="let option of options;let i=index" class="badge" (click)="optionShowed=i"
        [class.badge-secondary]="i!=optionShowed" [class.badge-success]="i==optionShowed">&nbsp;</span>
</div>


<!-- divider -->
<div class="dropdown-divider" style="width: 70%;margin-left: 15%;"></div>

<!-- Option buttons -->
<div>
    <button *ngFor="let option of options;let i=index" type="button" class="btn btn-outline-success"
        (click)="navigateButton(i)">{{option}}</button>
</div>


<!-- CAROUSEL from BootStrap needs util.js library, I don't know if it could be a problem, could it cause incompatibility problems? -->
<!--
<div id="carouselOptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselOptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselOptions" data-slide-to="1"></li>
        <li data-target="#carouselOptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 h-100 bg-success text-white" alt="Play">
            <h1>PLAY</h1>
            <div class="carousel-caption d-none d-md-block">
                <p>Choose between multiple game modes, and have fun!</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100 h-100 bg-success text-white" alt="My decks">
            <h1>MY DECKS</h1>
            <div class="carousel-caption d-none d-md-block">
                <p>Build your own decks collection, and customize your study!</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100 h-100 bg-success text-white" alt="My statistics">
            <h1>MY STATISTICS</h1>
            <div class="carousel-caption d-none d-md-block">
                <p>Follow your improvements, and boost your progress!</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100 h-100 bg-success text-white text-bold" alt="Repository">
            <h1>REPOSITORY</h1>
            <div class="carousel-caption d-none d-md-block">
                <p>Check out decks from other players, and keep the cards that suit you!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselOptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselOptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
-->