<!-- ActivateRoute service will 'save' path parameters once we click button!! Even if we save changes and
compile again the project, even if we refresh Chrome browser. Even if we put down serve and restart it, if 
we don't CLOSE CHROME BROWSER TOO service keeps path parameters 'loaded' !!!!
IF WE CLOSE AND OPEN AGAIN CHROME BROWSER, IT WORK'S CORRECTLY (service 'forgets' path parameters)
IT WAS BECAUSE I WAS REFRESHING BROWSER WITH URL=http://localhost:4200/play/game4/3W78eP709znUXXenuu0B x( -->
<!--
<button routerLink="008/play/game4/3W78eP709znUXXenuu0B" routerLinkActive="active">Play game4 with test deck!!</button>
--> 
<router-outlet></router-outlet>