<!-- Navbar -->
<nav class="navbar text-white navbar-inverse bg-success">
    <!-- Navbar brand -->
    <button type="button" class="btn btn-success btn-sm" (click)="navigate('start')">&lt; QuizCard</button>
    <!-- Switch languages selection (only while playing) -->
    <button *ngIf="gameType!=null && deckID!=null" type="button" class="btn btn-success btn-sm"
        (click)="emitInvertLanguages()">
        <span *ngIf="languagesOrder">{{(deckObs | async)?.native_language}} &#8644;
            {{(deckObs | async)?.target_language}}</span>
        <span *ngIf="!languagesOrder">{{(deckObs | async)?.target_language}} &#8644;
            {{(deckObs | async)?.native_language}}</span>
    </button>
    <!-- Dropdown button -->
    <button type="button" class="btn btn-success btn-sm dropdown-toggle" (click)="changeShow()">{{userID}}</button>
</nav>

<!-- Nav options -->
<div class="d-flex justify-content-center " *ngIf="show">
    <span class="justify-content-around">
        <a class="active text-success bg-white" (click)="navigate('start')" routerLinkActive="active">Home</a> |
        <a class="active text-success bg-white" (click)="navigate('play')" routerLinkActive="active">Play</a> |
        <a class="active text-success bg-white" (click)="navigate('mydecks')" routerLinkActive="active">My decks</a> |
        <a class="active text-success bg-white" (click)="navigate('statistics')"
            routerLinkActive="active">Statistics</a> |
        <a class="active text-success bg-white" (click)="navigate('repository')"
            routerLinkActive="active">Repository</a> |
        <a class="active text-dark bg-white" (click)="navigate('index')" routerLinkActive="active">Sign off</a>
    </span>
</div>