<select (change)="emitValue()" [(ngModel)]="chosenValue">
    <option value="Arabic">Arabic</option>
    <option value="Chinese">Chinese</option>
    <option value="English">English</option>
    <option value="Finnish">Finnish</option>
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="Greek">Greek</option>
    <option value="Hebrew">Hebrew</option>
    <option value="Hindi">Hindi</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Korean">Korean</option>
    <option value="Latin">Latin</option>
    <option value="Norwegian">Norwegian</option>
    <option value="Polish">Polish</option>
    <option value="Portuguese">Portuguese</option>
    <option value="Romanian">Romanian</option>
    <option value="Russian">Russian</option>
    <option value="Spanish">Spanish</option>
    <option value="Swedish">Swedish </option>
    <option value="Turkish">Turkish</option>
    <option value="Other">Other</option>
</select>